/*Begin tablet.*/
@media screen and (min-width: 641px) {

    

    nav ul li {
        display: inline-block; /*This lists items horizontally.*/
        border-radius: 1em;
        /*margin: 0.25em;*/
        
        
    }


 
    /*div .left {
        display: none !important;
    }*/
    
    
    main div .center {
    
        /*border-right: 0.2em solid black;*/
        width: 60%;
        
    }
    
    footer {
        box-shadow: 0.5em 0.5em 0.5em black;
    }
    

}
/*End tablet.*/